<div class='container'>
   <app-search-box class='search_box' ></app-search-box>
   <app-login class='login'></app-login>
</div>
   <div class='card_form'>
     <h3 class='form_tittle'>Create new card</h3>
     <label class='name'>title</label>
     <input class='input' type='text' [(ngModel)]='title'>
     <label class='name'>description</label>
     <input class='input' type='text' [(ngModel)]='description'>
     <label class='name'>link to the image</label>
     <input class='input' type='text' [(ngModel)]='img'>
     <label class='name'>link to video</label>
     <input class='input' type='text' [(ngModel)]='link'>
     <label class='name'>creation date</label>
     <input class='input' type='datetime-local' [(ngModel)]='data'>
     <button class='submit' (click)='onCreate(title, description, img, link, data)'>Create card</button>
     <div class='error' *ngIf = 'isShow'>Wrong data</div>
   </div>

 <div class="message" > For search videos login with user login</div>
